* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url('../assets/images/bg.jpg');
  background-size:contain;
}
main {
  width: 100%;
}

img {
  width: 100%;
}
nav {
  width: 100%;
  background-color: #fff;
  padding: 20px 50px ;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 128px;
  height: 24px;
}
.title {
  text-align: center;
  margin: 25px 0;
}
.subtitle {
  text-align: center;
  margin: 30px 0 50px 0;
}

#pizzaList {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  /* margin: 10px 20px; */
  flex-direction: row;
  gap: 20px;
}

.card {
  width: 290px;
  overflow: hidden;
  transition: 0.3s;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 1px -1px, rgba(0, 0, 0, 0.7) 0px 2px 5px -1px;
  transition: 0.3s;
}
.cardBody {
  text-align: center;
  width: 100%;
  background-color: #fff;
  padding: 10px;
}

.cart-btn,#placeOrderBtn {
  margin-top: 30px;
  width: 100%;
  background-color: #0A8020;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  padding: 18px 0;
  cursor: pointer;
}

.gridBox {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 25px;
}

#login,#signin {
  border: 0;
  padding: 8px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
#login {
  background-color: #0A8020;
}
#signin {
  background-color: #2a34bb;
}

.orderLists{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 5px 20px;
  margin-bottom: 10px;
  color: #fff;
}

.loginSignBox {
  width: 600px;
  margin: 50px auto;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0px 2px 8px #ccc;
}

.loginSignBox h2 {
  text-align: center;
  margin-bottom: 10px;
}

.form-box {
  padding:20px 20px 0 20px;
}
.form-box input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.loginSigninbtn {
  width: 50%;
  background-color: #0A8020;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
}

.pizzaCount {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pizzaCount button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

@media (max-width:600px) {
  nav {
    padding: 15px 10px ;
    text-align: center;
  }
  .card {
    width: 100%;
  }
  .gridBox {
    grid-template-columns: 1fr;
  }
  .loginSignBox {
    width: 95%;
  }
}